<% if object.errors.any? %>
  <div class="alert alert-error" id="error_explanation">
    <h2>
      <%= object.errors.count %>
      <%= object.errors.count == 1 ? 'Error no dejó' : 'Errores no dejaron' %>
      que se guarde esta nota :(
    <ul>
    <% object.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
